@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-max-width {
  max-width: min(100%, var(--width));
}

.flex-calc{
  padding-right: calc(6px / 2);
  padding-left: calc(6px / 2);
  margin-bottom: 9px;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --width: 900px;
}

@media (min-width: 640px) {
  body {
    margin: 0 10px;
  }
}

@media (max-width: 639px) {
  body {
    margin: 0;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
